<div class="md:p-10 border-b border-secondary-grey">
  <div class="flex gap-4">
    <span class="text-6xl text-primary-orange">02</span>
    <div class="">
      <h2 class="text-6xl font-semibold">Career</h2>
    </div>
  </div>

  <div class="pt-14">
    <div class="flex">
      <div class="w-1/2 inline-flex">
        <span class="text-3xl text-secondary-dark-grey">2a</span>
        <p class="text-3xl pl-2">Profesional experience</p>
      </div>
      <div class="w-1/2">
        <div class="flex justify-between">
          <div>
            <p class="text-xl">EDAG Group</p>
            <p class="text-xl text-secondary-dark-grey">Software Engineer</p>
          </div>
          <div class="text-right">
            <p class="text-secondary-deep-orange">Dec 2023 - Nov 2024</p>
            <p class="text-secondary-dark-grey">Fulda, Germany</p>
          </div>
        </div>
        <div
          class="pt-6 flex flex-col gap-4 text-secondary-dark-grey tracking-tight"
        >
          <p>
            Developed a tool to manage and assign staff to support shifts,
            starting from gathering requirements and creating functional
            diagrams. The frontend was built using
            <span class="text-black">Angular 18</span> with
            <span class="text-black">Tailwind CSS</span> and DaisyUI, while the
            backend was powered by
            <span class="text-black">Spring Boot with JPA and PostgreSQL</span>.
            Automated manual processes and improved resource planning
            efficiency.
          </p>
          <p>
            Handled Dockerization using
            <span class="text-black">Docker Compose</span>. Ensured seamless
            deployment, replication, and management of services across multiple
            environments.
          </p>
          <p>
            Performed
            <span class="text-black">E2E and integration testing</span> on
            critical systems using internally developed tools. Improved system
            stability and performance, ensuring smooth operations.
          </p>
          <p>
            Provided DevOps support with
            <span class="text-black">Azure DevOps</span> for a short period,
            assisting with releases and maintaining microservices for reliable
            deployment processes.
          </p>
        </div>
      </div>
    </div>
    <div class="flex">
      <app-redirect-button
        icon="expand"
        label="see more"
        href=""
        size="h-4 w-4 "
      ></app-redirect-button>
    </div>
  </div>
</div>
