<div class="container mx-auto px-6 pt-6 flex flex-col md:mt-10 md:mb-16">

    <h1 class="text-4xl font-black p-4 md:mb-12">About me</h1>

    <div class="md:flex md:flex-row mx-auto px-4">
        <div class="md:flex md:flex-col">
            <p class="md:text-lg md:w-4/5 md:my-6 my-3">
                Hola, soy Jesús Moreno Duran, un desarrollador de software de 24 años originario de Málaga que ahora vive en Fulda,
                Alemania. Empecé mi andadura en el mundo de la programación en la Universidad de Málaga, donde más tarde, tuve la
                oportunidad de cambiar de aires y realizar mi último año en la Hochschule de Fulda, que es como he acabado aquí.
            </p>
            <p class="md:text-lg md:w-4/5 md:my-6 my-3">
                Tuve la ocasión de hacer prácticas en EDAG durante un año y medio, un tiempo en el que adquirí un profundo
                conocimiento sobre la ingeniería de software en proyectos de gran escala. Al final de este periodo, me integré en el
                equipo como ingeniero de software, donde he tenido la oportunidad de aportar valor y, sobre todo, de aprender en un
                entorno lleno de retos interesantes. Como dijo una vez Walter White: «Lo hice por mí. Me gustaba. Se me daba bien».
                Bueno, estoy trabajando en esa última parte. En la pestaña experiencia puedes ver esta información más en detalle.
            </p>
            <p class="md:text-lg md:w-4/5 md:my-6 my-3">
                En total, he estado jugando con el desarrollo web durante más de tres años, sobre todo usando Angular y Spring Boot.
                Técnicamente soy un desarrollador full-stack, aunque, prefiero trabajar en el front-end, probablemente porque me
                gusta diseñar las distintas vistas y hacer que sean fáciles de usar. O tal vez simplemente disfruto viendo mi código
                cobrar vida de una manera que es algo más que texto en una pantalla. En cuanto a herramientas y tecnologías, mis
                principales habilidades incluyen:
            </p>
        </div>
    
        <img src="assets/images/about-me/foto-roma-recortada.png" alt="Photo of Jesus Moreno in la Fontana Di Trevi" class="p-5 md:p-0 md:w-2/5 md:h-auto md:object-contain md:my-auto">
    </div>
    
    

    <app-skills-section class="my-32"></app-skills-section>
    
    
    <p>
        En total, he estado jugando con el desarrollo web durante más de tres años, sobre todo usando Angular y Spring Boot.
        Técnicamente soy un desarrollador full-stack, aunque, prefiero trabajar en el front-end, probablemente porque me
        gusta diseñar las distintas vistas y hacer que sean fáciles de usar. O tal vez simplemente disfruto viendo mi código
        cobrar vida de una manera que es algo más que texto en una pantalla. En cuanto a herramientas y tecnologías, mis
        principales habilidades incluyen:
    </p>
    
    
    <p>
        Si tienes curiosidad por saber en qué he estado trabajando, dirígete a la pestaña Proyectos. Encontrarás algunos de
        mis proyectos universitarios, junto con algunas cosas que he cocinado con algunos amigos. Nada demasiado loco, pero
        son cosas con las que he ido aprendiendo durante mi etapa de estudiante.
    </p>
    
    
    <p>
        Cuando no estoy fingiendo que estudio alemán (en serio, es duro), practico distintos deportes como fútbol o ultimate
        frisbee, o cocino platos donde la única regla es que todo sabe mejor con un poco de picante.
    
    </p>
    
    <p>
        Si después de todo esto te apetece charlar un rato o arriesgarte a probar uno de mis platos (con picante, por
        supuesto), aquí te dejo cómo puedes contactarme:
    </p>
    <app-contact-form></app-contact-form>
</div>