<div class="container mx-auto px-10 pt-10 flex flex-col md:mt-10 md:mb-16">

    <h1 class="text-4xl font-black mb-12">About me</h1>

    <div class="flex flex-col-reverse md:flex-row mx-auto ">
        <!-- Image -->
        <img src="assets/images/about-me/foto-roma-recortada.webp" alt="Photo of Jesús Moreno at the Fontana Di Trevi" class="mb-12 md:w-2/5 md:h-auto md:object-contain my-auto order-2 md:order-2">
    
        <!-- Div for the three paragraphs -->
        <div class="flex flex-col md:w-3/5">
            <!-- First paragraph -->
            <p class="text-base md:text-lg md:w-4/5 my-4 md:my-6 order-1">
                Hi, I'm <strong>Jesús Moreno Duran</strong>, a 24-year-old software developer from Málaga, Spain, now living in Fulda, Germany.
                I started my journey in programming at the University of Málaga, where later I got the chance to switch things up
                and spend my final year at the Hochschule Fulda, which is how I ended up here.
            </p>
    
            <!-- Second paragraph -->
            <p class="text-base md:text-lg md:w-4/5 my-4 md:my-6 order-2">
                I had the opportunity to <strong>intern at EDAG</strong> for a year and a half, a time during which I gained a deep understanding of
                software engineering in large-scale projects. At the end of this period, I <strong>joined the team as a software engineer</strong>, where
                I've had the chance to contribute and, most importantly, to learn in an environment full of interesting challenges.
                As Walter White once said: "I did it for me. I liked it. I was good at it." Well, I'm still working on that last part.
                You can find more details on this in the <a [routerLink]="'/career'" class="btn-orange-gradient bg-orange-gradient" aria-label="Go to projects page">career</a> section.
            </p>
    
            <!-- Third paragraph -->
            <p class="text-base md:text-lg md:w-4/5 my-4 md:my-6 order-3">
                In summary, I've been playing around with web development for over three years, mainly using Angular and Spring Boot.
                Technically, I define myself as a <strong>full-stack developer</strong>, although I prefer working on the front end, probably because I enjoy designing
                different views and making them easy to use. Or maybe I just like seeing my code come to life in a way that's more than
                just text on a screen. As for tools and technologies, my main skills include:
            </p>
        </div>
    </div>
    
    
    
    <app-skills-section class="mt-24"></app-skills-section>
    
    <p class="text-base md:text-lg my-4 ">
        If you're curious to know what I've been working on, head over to the <a [routerLink]="'/projects'" class="bg-orange-gradient btn-orange-gradient" aria-label="Go to projects page">projects</a> tab. You'll find some of my university projects along with some things I've cooked up with friends. Nothing too crazy, but these are things I've been learning from during my time as a student.
    </p>
    
    <p class="text-base md:text-lg my-4 ">
        When I'm not pretending to study German (seriously, it's tough), I play sports like soccer or ultimate frisbee, or cook dishes where the only rule is that everything tastes better with a bit of spice.
    </p>
    
    <p class="text-base md:text-lg my-4 ">
        If after all this you'd like to have a talk or take a risk and try one of my dishes (with spice, of course), here's how you can contact me:
    </p>
    
    
    <app-contact-form></app-contact-form>
</div>
