<div class="md:p-10 border-b border-secondary-grey">
  <div class="flex gap-4">
    <span class="text-6xl text-primary-orange">03</span>
    <div class="">
      <h2 class="text-6xl font-semibold">Projects</h2>
    </div>
  </div>
  <div class="flex flex-col gap-12 pt-14">
    <app-project-card></app-project-card>
    <app-project-card></app-project-card>

    <hr class="text-secondary-grey" />

    <div class="grid grid-cols-2 gap-10">
      <app-project-card-v2 />
      <app-project-card-v2 />
    </div>

    <hr class="text-secondary-grey" />

    <app-project-card-v3/>
    <app-project-card-v3/>

  <app-redirect-button class="inline-flex" href="" icon="expand" label="see all projects" size=""></app-redirect-button>
  </div>
</div>
