<div class="px-4 pb-6 pt-10 md:p-10 border-b border-secondary-grey">
  <app-title
        index="03"
        title="Projects"
      ></app-title>
  <div class="flex flex-col gap-12 pt-14">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
      <app-project-card-v2 />
      <app-project-card-v2 />
    </div>

    <hr class="text-secondary-grey" />

    <app-project-card-v3/>
    <app-project-card-v3/>

  <app-redirect-button class="inline-flex" href="projects" icon="expand" label="see all projects" size=""></app-redirect-button>
  </div>
</div>
