<h2 class="font-bold text-4xl mb-4">Projects</h2>

<p class="text-xl">
    
    Welcome to my project page, where I share the work that's shaped my path as a Full Stack Developer. These aren't just polished pieces—they're the result of trial, error, and a lot of learning. Here, you'll find everything from university assignments to projects I've developed on my own. Each project tells a story of how I've grown and what I've discovered in the world of development.

</p>

<ol class="relative border-s border-gray-300 mt-16">
    <app-projects-timeline-card></app-projects-timeline-card>
    <app-projects-timeline-card></app-projects-timeline-card>
    <app-projects-timeline-card></app-projects-timeline-card>
</ol>