<div class="container mx-auto p-6 flex flex-col md:flex-row items-center md:mt-20 md:justify-evenly md:mb-32">
  <div class="md:w-1/2 p-4">
    <h1 class="text-4xl font-black mb-4">Hi there! I'm <span class="kalam-bold text-5xl orange-gradient">Jesús Moreno</span>, <br>
      Software Developer</h1>
    <p class="text-lg md:w-4/5">
      I'm mainly focused on <span class="font-bold">full stack</span> development, with experience in creating dynamic and responsive web applications.
      I specialize in using <span class="font-bold">Angular and Spring Boot</span>, though I've also experimented with technologies like React,
      Express, and
      similar tools. Along the way, I've also explored other areas such as Android development or AI, helping me become
      a more flexible
      developer.
    </p>

    <app-link-button-component [text]="'More about me'" [href]="'/about'"></app-link-button-component>

  </div>

  <div class="md:w-2/5 mt-10 md:mt-0">
    <svg viewBox="0 0 712 586" xmlns="http://www.w3.org/2000/svg" class="w-full h-auto">
      <defs>
        <clipPath id="myShape">
          <path
            d="M6.24212 241.911C-14.0001 16.5 230.015 -0.973808 369.644 1.08581C635 4.99997 902.473 363.792 524.719 546.231C255.995 676.014 27.2967 476.367 6.24212 241.911Z" />
        </clipPath>
      </defs>
      <image href="assets/images/landing-page/back-taj-mahal.jpg" clip-path="url(#myShape)" x="0" y="0" width="100%"
        height="100%" preserveAspectRatio="xMidYMid slice" />
    </svg>
  </div>

</div>


<div class="my-16 md:mb-36">
  <app-skill-section></app-skill-section>
</div>

<div class="my-16">
  <app-last-projects-section></app-last-projects-section>
</div>