<div class="container mx-auto p-6 flex flex-col md:flex-row items-center">
    <div class="md:w-1/2 p-4">
      <h1 class="text-4xl font-bold mb-4">Hi there! I'm <span class="kalam-bold text-5xl">Jesús Moreno</span>, <br> Software Developer</h1>
      <p class="text-lg">
        
        I'm mainly focused on full stack development, with experience in creating dynamic and responsive web applications. I specialize in using Angular and Spring Boot, though I've also worked with technologies like React, Express, and similar tools. Along the way, I've also explored Android development and AI, helping me become a more flexible developer.

      </p>
    </div>
    <div class="md:w-1/2 p-4 flex justify-center">
      <img src="assets/images/landing-page/back-taj-mahal.jpg" alt="Background Image" class="w-full h-auto rounded-lg shadow-lg">
    </div>
  </div>
  