<div>
  <app-subsection
    [index]="project.index"
    [subsectionTitle]="project.title"
  ></app-subsection>
  <div class="flex gap-4">
    <div class="w-1/2">
      <div class="flex justify-between pt-6">
        <div>
          <span>{{ project.tech }}</span>
        </div>
        <span class="text-secondary-deep-orange"> {{ project.date }} </span>
      </div>
      <div class="flex flex-col gap-6 pt-6 text-secondary-dark-grey tracking-tight">
        <p>{{ project.description }}</p>
        <p>{{ project.challenges }}</p>
        <p>{{ project.results }}</p>
      </div>
    </div>
    <div class="w-1/2 my-auto">
      <img [src]="project.images[0]" />
    </div>
  </div>
</div>
