<div class="flex justify-between">
  <div>
    <p class="text-xl">{{ experience.company }}</p>
    <p class="text-xl text-secondary-dark-grey">{{ experience.title }}</p>
  </div>
  <div class="text-right">
    <p class="text-secondary-deep-orange">{{ experience.period }}</p>
    <p class="text-secondary-dark-grey">{{ experience.location }}</p>
  </div>
</div>
<div
  class="pt-6 flex flex-col gap-4 text-lg text-secondary-dark-grey tracking-tight"
>
  <ul>
    <li *ngFor="let achievement of experience.achievements">
      <span [innerHTML]="sanitizeHtml(achievement)"></span>
    </li>
  </ul>
</div>
