
<div class="container mx-auto px-6 pt-6 flex flex-col md:mt-10">
    <h1 class="text-4xl font-black p-4 md:mb-12">Career</h1>
</div>
<div class="container mx-auto px-4 py-8">

    <div class="relative">

        <div *ngFor="let exp of experiences; let index = index" class="mb-8 flex">
            <div class="flex flex-col items-center mr-4">
                <div class="w-px h-full bg-gray-300 pointer-events-none"></div>
            </div>
            <div class="flex-grow pb-3">
                <div class="flex items-center mb-1">
                    <div class="bg-orange-gradient rounded-full h-8 w-8 flex items-center justify-center mr-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" fill="none"
                            stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M16 20V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16" />
                            <rect width="20" height="14" x="2" y="6" rx="2" />
                        </svg>
                    </div>
                    <h3 class="text-xl font-semibold">{{ exp.company }}</h3>
                </div>

                <div class="flex items-center gap-2 text-sm text-gray-500 mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M8 2v4" />
                        <path d="M16 2v4" />
                        <rect width="18" height="18" x="3" y="4" rx="2" />
                        <path d="M3 10h18" />
                        <path d="M8 14h.01" />
                        <path d="M12 14h.01" />
                        <path d="M16 14h.01" />
                        <path d="M8 18h.01" />
                        <path d="M12 18h.01" />
                        <path d="M16 18h.01" />
                    </svg>
                    {{ exp.period }}
                </div>

                <div class="flex items-center gap-2 text-sm text-gray-500 mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path
                            d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
                        <circle cx="12" cy="10" r="3" />
                    </svg>
                    {{ exp.location }}
                </div>

                <p class="text-gray-600 mb-3 mt-5 text-lg font-medium">{{ exp.title }}</p>
                <ul class="list-none pl-0">
                    <li *ngFor="let achievement of exp.achievements" class="flex items-start md:items-center mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mr-2 mt-1 md:mt-0 flex-shrink-0" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="m9 18 6-6-6-6" />
                        </svg>
                        <span>{{ achievement }}</span>
                    </li>                    
                </ul>
            </div>
        </div>

    </div>

</div>