<div class="relative inline-flex items-center group">
    <div class="absolute inset-0">
      <div class="w-full h-full opacity-70 blur-sm group-hover:blur-lg transition-all duration-300 bg-gradient-to-r from-[#F25C54] via-[#F4845F] to-[#F7B267] rounded-lg"></div>
    </div>
    
    <a routerLink="{{href}}"
        class="relative inline-flex items-center px-4 py-2 text-sm font-medium bg-white rounded-lg">
        {{text}}
  
        <svg class="relative mt-0.5 overflow-visible ml-2.5 text-[#000]" width="3" height="6"
          viewBox="0 0 3 6" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round">
          <path d="M0 0L3 3L0 6"></path>
        </svg>
    </a>
  </div>
  
  