<div class="flex justify-between">
  <div class="flex items-center p-4 lg:p-10 gap-2">
    <div
      class="w-4 h-4 lg:w-8 lg:h-8 rounded-full bg-primary-orange group-hover:opacity-50 transform transition-all duration-300"
    ></div>
    <span class="text-lg lg:text-3xl">jmoreno.dev</span>
  </div>

  <!--contact me-->
  <div class="sm:hidden p-4 ml-auto">
    <a
      class="text-secondary-dark-grey hover:text-primary-orange transform transition-colors duration-300 cursor-pointer"
      >Contact me</a
    >
  </div>

</div>
