<nav>
    <div #underline class="underline"></div>
    <div #underline class="underline"></div>
    <div #underline class="underline"></div>
    <a class="font-medium" (click)="moveUnderline(0)" [routerLink]="'/'">Home</a>
    <a class="font-medium" (click)="moveUnderline(1)" [routerLink]="'/projects'">Projects</a>
    <a class="font-medium" (click)="moveUnderline(2)" [routerLink]="'/career'">Career</a>
    <a class="font-medium" (click)="moveUnderline(3)" [routerLink]="'/about'">About me</a>
  </nav>
