
:host {
  --underline-height: 0.5rem;
  --transition-duration: 0.5s;
}

nav {
	position: relative;
	white-space: nowrap;
	padding: var(--underline-height) 0;
}

.underline {
	display: block;
	position: absolute;
	z-index: 0;
	bottom: 0;
	left: 0;
	height: var(--underline-height);
	width: 25%; /*25% bc there re 4 elements. with 5 would be 20%*/
	background: black;
	pointer-events: none;
	mix-blend-mode: multiply;
	transition: transform var(--transition-duration) ease-in-out;

	&:nth-child(1) {
		background: #F7B267;
		transition: calc(var(--transition-duration) * 0.8);
	}
	&:nth-child(2) {
		background: #F4845F;
		transition: calc(var(--transition-duration) * 1.2);
	}
	&:nth-child(3) {
		background: #000;
	}
}

a {
	display: inline-block;
	z-index: 10;
	width: 25%; /*25% bc there re 4 elements. with 5 would be 20%*/
	padding: 1em 0;
	text-align: center;
	cursor: pointer;
    font-family: system-ui, sans-serif;
	text-decoration: none;
	color: inherit;
}
