<div class="container mx-auto py-16">
    <div class="flex flex-col md:flex-row md:justify-center md:gap-x-32">
        <!-- Left Side: Points of Contact -->
        <div class="mb-8 md:mb-0 md:pr-8">
            <h2 class="text-2xl font-bold mb-4">Points of contact</h2>

            <div class="mb-4">
                <!-- Linkedin -->
                <div class="flex flex-row mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72" class="w-6 h-6">
                        <g fill="none" fill-rule="evenodd">
                            <path
                                d="M8,72 L64,72 C68.418278,72 72,68.418278 72,64 L72,8 C72,3.581722 68.418278,-8.11624501e-16 64,0 L8,0 C3.581722,8.11624501e-16 -5.41083001e-16,3.581722 0,8 L0,64 C5.41083001e-16,68.418278 3.581722,72 8,72 Z"
                                fill="#000000" />
                            <path
                                d="M62,62 L51.315625,62 L51.315625,43.8021149 C51.315625,38.8127542 49.4197917,36.0245323 45.4707031,36.0245323 C41.1746094,36.0245323 38.9300781,38.9261103 38.9300781,43.8021149 L38.9300781,62 L28.6333333,62 L28.6333333,27.3333333 L38.9300781,27.3333333 L38.9300781,32.0029283 C38.9300781,32.0029283 42.0260417,26.2742151 49.3825521,26.2742151 C56.7356771,26.2742151 62,30.7644705 62,40.051212 L62,62 Z M16.349349,22.7940133 C12.8420573,22.7940133 10,19.9296567 10,16.3970067 C10,12.8643566 12.8420573,10 16.349349,10 C19.8566406,10 22.6970052,12.8643566 22.6970052,16.3970067 C22.6970052,19.9296567 19.8566406,22.7940133 16.349349,22.7940133 Z M11.0325521,62 L21.769401,62 L21.769401,27.3333333 L11.0325521,27.3333333 L11.0325521,62 Z"
                                fill="#FFF" />
                        </g>
                    </svg>
                    <p><a href="https://www.linkedin.com/in/jesus-moreno-duran/?locale=en_US" target="_blank"
                            class="ml-2 text-gray-500 hover:underline">linkedin.com/in/jesus-moreno-duran</a></p>
                </div>

                <!-- email -->
                <div class="flex flex-row">

                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="currentColor" viewBox="0 0 16 16">
                        <path
                            d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z" />
                    </svg>
                    <p><a href="mailto:j.morenoduran.00@gmail.com" target="_blank"
                            class="ml-2 text-gray-500 hover:underline">j.morenoduran.00&#64;gmail.com</a></p>

                </div>



            </div>

        </div>


        <!-- Right Side: Contact Form -->
        <div class="md:w-1/2">
            <h2 class="text-3xl font-bold mb-8">Send me a message</h2>
            
            <form #contactForm="ngForm" (ngSubmit)="sendEmail($event)">
              
              <div class="mb-4">
                <label for="user_name" class="block text-sm font-medium text-gray-700">
                  Your Name <span class="text-sm text-gray-500">(So I know who you are)</span>
                </label>
                <input type="text" id="user_name" name="user_name" ngModel required
                  class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
                  placeholder="Jesse Pinkman">
              </div>
              
              <div class="mb-4">
                <label for="user_email" class="block text-sm font-medium text-gray-700">
                  Your email address <span class="text-sm text-gray-500">(So I can reply to you)</span>
                </label>
                <input type="email" id="user_email" name="user_email" ngModel required
                  class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
                  placeholder="captainpinkman@gmail.com">
              </div>
              
              <div class="mb-4">
                <label for="subject" class="block text-sm font-medium text-gray-700">Subject</label>
                <input type="text" id="subject" name="subject" ngModel required
                  class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
                  placeholder="Let me know how I can help you">
              </div>
              
              <div class="mb-4">
                <label for="message" class="block text-sm font-medium text-gray-700">Your message</label>
                <textarea id="message" name="message" ngModel required rows="4"
                  class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
                  placeholder="Leave a comment..."></textarea>
              </div>
              
              <div>
                <button type="submit"
                  class="mt-5 inline-flex bg-orange-gradient items-center px-4 py-2 text-sm font-medium bg-white rounded-lg hover:shadow-lg transition-shadow duration-300">
                  Send message
                </button>
              </div>
              
            </form>
          </div>
          
          
    </div>
</div>