@import "@fontsource/kalam/700.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  :root {
    --favicon-color: black;
    /* Color para modo claro */
  }
}

/* Modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --favicon-color: white;
    /* Color para modo oscuro */
  }
}

/* Aplicar el color al favicon */
link[rel="icon"] {
  color: var(--favicon-color);
}

body {
  margin: 0;
  padding: 0;
}


.orange-gradient {
  background: linear-gradient(to left, #F7B267, #F4845F, #F25C54);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-orange-gradient {
  background: linear-gradient(to left, #F7B267, #F4845F, #F25C54);
  color: white;
}

.tooltip {
  @apply invisible absolute left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50 opacity-100;
}